@using broken_picturephone_blazor.Data
@using broken_picturephone_blazor.Services
@using broken_picturephone_blazor.Component
@inject LobbyService LobbyService
@inject NavigationManager NavigationManager
@implements IDisposable

<div class="container">
    <div class="row">
        <div class="col-md players">
            <ul>
                @foreach (var player in Lobby.Players)
                {
                    <li>
                        <PlayerListItem Player=player></PlayerListItem>
                    </li>
                }
            </ul>
        </div>
        <div class="col-md playfield">
            @if (previousPage != null)
            {
                <PageViewer Page=previousPage/>
            }
            @if (page != null)
            {
                <PageEditor @ref="pageEditor" Page=page/>
                <button @onclick="SubmitPage" class="btn btn-primary">Submit</button>
            }
        </div>
        <div class="col-md stuff">
            <h3>Page @(game.CurrentPage + 1)/@game.Settings.Pages</h3>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Player Player { get; set; }

    [Parameter]
    public Lobby Lobby { get; set; }
     
    private Game game => Lobby.Game;

    private Book book;

    // TODO: optimization if the page is cloned and worked on locally
    private Page page => book?.Pages[game.CurrentPage];
    private Page previousPage => game.CurrentPage > 0 ? book?.Pages[game.CurrentPage - 1] : null;

    private PageEditor pageEditor;
    
    protected override void OnInitialized()
    {
        game.OnNextPage += OnNextPage;

        // In case of reconnection, look for a page in progress
        var currentBook = game.GetCurrentBook(Player);
        if (currentBook == null)
        {
            game.PlayerReady(Player);
        }
        else if (currentBook.Pages[game.CurrentPage].InProgress)
        {
            book = currentBook;
        }
    }

    public async void OnNextPage()
    {
        book = game.GetCurrentBook(Player);
        await InvokeAsync(StateHasChanged);
    }

    public async void SubmitPage()
    {
        await pageEditor.Save();

        var submitBook = book;
        
        book = null;
        await InvokeAsync(StateHasChanged);

        game.SubmitPage(submitBook);
    }

    public void Dispose()
    {
        game.OnNextPage -= OnNextPage;
    }
}