@page "/"

@using broken_picturephone_blazor.Data
@inject LobbyService LobbyService
@inject LobbyEvents LobbyEvents

<div>
    Name:
    <input @bind="PlayerName" class="input-group-text">
</div>
<div>
    Lobby:
    <input @bind="LobbyName" class="input-group-text">
</div>


<button @onclick="CreateOrJoinLobby" class="btn btn-primary">Join or create lobby</button>

@if (ConnectedLobby != null) {
    <h1>Connected to @ConnectedLobby.Name</h1>

    <h3>Players (@ConnectedLobby.Players.Count)</h3>
    <ul>
        @foreach (var player in ConnectedLobby.Players)
        {
            <li>@player.Name</li>
        }
    </ul>
}


@code
{
    public string PlayerName { get; set; }
    public String LobbyName { get; set; }
    public Lobby ConnectedLobby { get; set;}

    protected override async Task OnInitializedAsync()
    {
        LobbyEvents.OnLobbyUpdated += OnLobbyUpdated;
    }

    public void CreateOrJoinLobby()
    {
        ConnectedLobby = LobbyService.CreateOrJoinLobby(PlayerName, LobbyName);
        LobbyEvents.UpdateLobby(ConnectedLobby);
    }

    public async void OnLobbyUpdated(Lobby lobby)
    {
        if (ConnectedLobby != null && ConnectedLobby.Name == lobby.Name)
        {
            ConnectedLobby = lobby;
            await InvokeAsync(StateHasChanged);
        }
    }
}