@page "/"
@using broken_picturephone_blazor.Component
@using broken_picturephone_blazor.Services
@using broken_picturephone_blazor.Data
@inject NavigationManager NavigationManager
@inject LobbyService LobbyService
@inject PlayerService PlayerService

<Navbar/>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <h4>Name: </h4>
            <input @bind="playerName" class="form-control" placeholder="name">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h4>Lobby name:</h4>
            <input @bind="lobbyName" class="form-control" placeholder="lobby name">
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div class="col-sm-3">
            <button @onclick="CreateOrJoinLobby" class="btn btn-primary">Join or create lobby</button>
        </div>
    </div>
</div>


@code {
    private string playerName;
    private string lobbyName;
    private Player us;
    private Lobby lobby;

    public void CreateOrJoinLobby()
    {
        try
        {
            (lobby, us) = LobbyService.CreateOrJoinLobby(lobbyName, playerName);
        }
        catch (PlayerExistsException)
        {
            // TODO: display error
            return;
        }

        PlayerService.lobby = lobby;
        PlayerService.us = us;
        NavigationManager.NavigateTo("/lobby");
    }
}