@page "/"
@page "/lobby/{lobbyName}"

@using broken_picturephone_blazor.Component
@using broken_picturephone_blazor.Services
@using broken_picturephone_blazor.Data

@inject NavigationManager NavigationManager
@inject LobbyService LobbyService
@inject Blazored.LocalStorage.ILocalStorageService localStore

@implements IDisposable

@if (player != null)
{
    if (lobby?.Game?.HasGameEnded() == true)
    {
        <PresentView Player=player Lobby=lobby></PresentView>
    }
    else if (lobby?.Game != null)
    {
        <GameView Player=player Lobby=lobby></GameView>
    }
    else if (lobby != null)
    {
        <LobbyView Player=player Lobby=lobby></LobbyView>
    }
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <EditForm Model=@lobbyForm OnValidSubmit=@CreateOrJoinLobby>
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        <label>Lobby name</label>
                        <InputText @bind-Value="lobbyForm.LobbyName" class="form-control" placeholder="lobby name" disabled=@WasInvite />
                    </div>
                    <div class="form-group">
                        <label>Name</label>
                        <InputText @bind-Value="lobbyForm.PlayerName" class="form-control" placeholder="name" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Join or create lobby</button>
                    </div>
                    <ValidationSummary />
                </EditForm>
            </div>
            <div class="col-sm-6 text-right">
                <p>
                    @LobbyService.Stats.Players players<br/>
                    @LobbyService.Stats.Lobbies lobbies
                </p>
            </div>
        </div>
    </div>
}
@if (!string.IsNullOrEmpty(errorMessage))
{
    <ErrorDialog Message=@errorMessage OnClosed=OnErrorDialogClosed></ErrorDialog>
}

@code {
    [Parameter]
    public string LobbyName { 
        get => lobbyForm.LobbyName; 
        set => lobbyForm.LobbyName = value;
    }

    private LobbyForm lobbyForm = new LobbyForm();

    private bool WasInvite => NavigationManager.Uri.Contains("/lobby/");

    private Player player;
    private Lobby lobby;

    private string errorMessage;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (!WasInvite) {
                lobbyForm.LobbyName = await localStore.GetItemAsync<string>("lobbyName");
            }

            lobbyForm.PlayerName = await localStore.GetItemAsync<string>("playerName");
            await InvokeAsync(StateHasChanged);
        }
    }

    public void OnErrorDialogClosed()
    {
        errorMessage = string.Empty;
    }

    public void CreateOrJoinLobby()
    {
        try
        {
            (lobby, player) = LobbyService.CreateOrJoinLobby(lobbyForm.LobbyName, lobbyForm.PlayerName);
        }
        catch (PlayerExistsException)
        {
            errorMessage = $"The name {lobbyForm.PlayerName} is taken";
            return;
        }
        catch (GameInProgressException)
        {
            errorMessage = "The game in this lobby has already started";
            return;
        }

        localStore.SetItemAsync("lobbyName", lobbyForm.LobbyName);
        localStore.SetItemAsync("playerName", lobbyForm.PlayerName);

        lobby.OnLobbyUpdated += OnLobbyUpdated;
        lobby.OnPlayerRemoved += OnPlayerRemoved;
        lobby.OnPlayerKicked += OnPlayerKicked;
        lobby.OnGameStarted += OnGameStarted;

        if (lobby.Game != null) {
            lobby.Game.OnGameEnded += OnGameEnded;
        }
    }

    public async void OnLobbyUpdated()
    {
        await InvokeAsync(StateHasChanged);
    }

    public void OnPlayerRemoved(Player player)
    {
        if (this.player == player)
        {
            lobby.OnLobbyUpdated -= OnLobbyUpdated;
            lobby.OnPlayerRemoved -= OnPlayerRemoved;
            lobby.OnPlayerKicked -= OnPlayerKicked;
            lobby.OnGameStarted -= OnGameStarted;

            this.player = null;
            this.lobby = null;
        }
    }

    public void OnPlayerKicked(Player player)
    {
        if (this.player == player)
        {
            errorMessage = "You got kicked from the lobby";
        }
    }

    public async void OnGameStarted()
    {
        lobby.Game.OnGameEnded += OnGameEnded;
        await InvokeAsync(StateHasChanged);
    }

    public async void OnGameEnded()
    {
        lobby.Game.OnGameEnded -= OnGameEnded;
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        if (this.lobby != null && this.player != null)
        {
            LobbyService.DisonnectLobby(player, lobby);
        }
    }
}
