@page "/"

@using broken_picturephone_blazor.Data
@inject LobbyService LobbyService
@inject LobbyEvents LobbyEvents

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <h4>Name: </h4>
            <input @bind="PlayerName" class="form-control" placeholder="name">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h4>Lobby name:</h4>
            <input @bind="LobbyName" class="form-control" placeholder="lobby name">
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div class="col-sm-3">
            <button @onclick="CreateOrJoinLobby" class="btn btn-primary">Join or create lobby</button>
        </div>
    </div>
</div>

@if (ConnectedLobby != null) {
    <h1>Connected to @ConnectedLobby.Name</h1>

    <h3>Players (@ConnectedLobby.Players.Count)</h3>
    <ul>
        @foreach (var player in ConnectedLobby.Players)
        {
            <li>@player.Name</li>
        }
    </ul>
}


@code
{
    public string PlayerName { get; set; }
    public String LobbyName { get; set; }
    public Lobby ConnectedLobby { get; set;}

    protected override async Task OnInitializedAsync()
    {
        LobbyEvents.OnLobbyUpdated += OnLobbyUpdated;
    }

    public void CreateOrJoinLobby()
    {
        ConnectedLobby = LobbyService.CreateOrJoinLobby(PlayerName, LobbyName);
        LobbyEvents.UpdateLobby(ConnectedLobby);
    }

    public async void OnLobbyUpdated(Lobby lobby)
    {
        if (ConnectedLobby != null && ConnectedLobby.Name == lobby.Name)
        {
            ConnectedLobby = lobby;
            await InvokeAsync(StateHasChanged);
        }
    }
}