@page "/"

@using broken_picturephone_blazor.Data
@inject LobbyService LobbyService

<input @bind="PlayerName">
<input @bind="LobbyName">

<button @onclick="CreateOrJoinLobby">Join or create lobby.</button>

@if (ConnectedLobby != null) {
    <h1>Connected to @ConnectedLobby.Name</h1>

    <h3>Players (@ConnectedLobby.Players.Count)</h3>
    <ul>
        @foreach (var player in ConnectedLobby.Players)
        {
            <li>@player.Name</li>
        }
    </ul>
}


@code
{
    public string PlayerName { get; set; }
    public String LobbyName { get; set; }
    public Lobby ConnectedLobby { get; set;}

    public void CreateOrJoinLobby()
    {
        ConnectedLobby = LobbyService.CreateOrJoinLobby(PlayerName, LobbyName);
    }
}