@page "/"
@using broken_picturephone_blazor.Component
@using broken_picturephone_blazor.Services
@using broken_picturephone_blazor.Data
@inject NavigationManager NavigationManager
@inject LobbyService LobbyService
@inject PlayerService PlayerService

<Navbar/>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <h4>Name: </h4>
            <input @bind="this.playerName" class="form-control" placeholder="name">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h4>Lobby name:</h4>
            <input @bind="this.lobbyName" class="form-control" placeholder="lobby name">
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div class="col-sm-3">
            <button @onclick="CreateOrJoinLobby" class="btn btn-primary">Join or create lobby</button>
        </div>
    </div>
</div>


@code {
    private string playerName;
    private string lobbyName;

    public void CreateOrJoinLobby()
    {
        try
        {
            var (lobby, player) = LobbyService.CreateOrJoinLobby(this.lobbyName, this.playerName);
            
            PlayerService.Lobby = lobby;
            PlayerService.Player = player;
            NavigationManager.NavigateTo("/lobby");
        }
        catch (PlayerExistsException)
        {
            // TODO: display error
        }
    }
}