<div class="error-container">
    <p class="error-message">
        @Message
    </p>
    <button class="btn btn-primary" @onclick="OnClosed"> Close </button>
</div>

@code
{
    [Parameter]
    public string Message { get; set; }

    [Parameter]
    public EventCallback OnClosed { get; set; }
}