<div class="container">
    <p class="message">
        @ErrorMessage
    </p>
    <button class="btn btn-primary" @onclick="OnClosed"> Close </button>
</div>

@code
{
    [Parameter]
    public string ErrorMessage { get; set; }

    [Parameter]
    public EventCallback OnClosed { get; set; }
}