@using stortromme.Data

@if (Page.ContentType == ContentType.Text)
{
    <div class="form-group">
        <label>Enter a prompt</label>
        <input @bind="Page.Content" class="form-control" placeholder="Enter anything">
    </div>
}
else if (Page.ContentType == ContentType.Image)
{
    <Canvas @ref="canvas"></Canvas>
}

@code
{
    [Parameter]
    public Page Page { get; set; }

    private Canvas canvas;

    public async Task Save() {
        // Save the encoded image data
        if (Page.ContentType == ContentType.Image) {
            Page.Content = await canvas.GetData();
        }
    }
}