@using stortromme.Data

@if (Page.ContentType == ContentType.Text)
{
    <p>@Page.Content</p>
}
else if (Page.ContentType == ContentType.Image)
{
    <Canvas DisplayData=@Page.Content></Canvas>
}

@code
{
    [Parameter]
    public Page Page { get; set; }
}