@using broken_picturephone_blazor.Data

@if (Page.ContentType == ContentType.Text)
{
    <h4>Enter a prompt</h4>
    <input @bind="Page.Content" class="form-control" placeholder="Enter anything">
}
else if (Page.ContentType == ContentType.Image)
{
    <Canvas @ref="canvas"></Canvas>
}

@code
{
    [Parameter]
    public Page Page { get; set; }

    private Canvas canvas;

    public async Task Save() {
        // Save the encoded image data
        if (Page.ContentType == ContentType.Image) {
            Page.Content = await canvas.GetData();
        }
    }
}